/* Hides the stamp in the footer */ 

.site-footer {
    display: none;
}

/* Restyles the site index */ 

.site-title {
    adding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px !important;
}

/* Disables the focus states for all buttons */ 
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none !important;
}

/* Disables the click states for all buttons */ 
.btn:active, .btn.selected, .btn.zeroclipboard-is-active {
    background-color: #f7f7f7 !important;
    background-image: none;
    box-shadow: none !important;
}


/* test styling lol */

.particle {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
    
